body
{
    background: #5d860e;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover
{
    text-decoration: none;
}
.container
{
    max-width: 980px;
    border-left: 1px solid #000e00;
    border-right: 1px solid #000e00;
    padding: 0px;
}
.header
{
    background: url('../../upload/image/banner.jpg');
    height: 560px;
    margin-top: 8px;
    padding-top: 197px;
}
.banner
{
    margin-left: 107px;

}
ul.custom-style
{
    list-style: none;
    padding-left: 10px;
}
ul.custom-style li
{
    width: 210px;
}
ul.custom-style li:hover
{
    border-bottom: 1px solid #3e3a25;
}
ul.custom-style li:hover a
{

    border-bottom: 1px solid #898152;
}
ul.custom-style li a
{
    color: white;
    font-size: 12px;
    display: block;
    padding: 36px 0px 1px 0px;
}
ul.custom-style li a img
{
    margin-right: 10px;
}
.page-content
{
    width: 100%;
    float: left;
    border-bottom: 3px solid #415f07;
    background: url('../../upload/image/line-background.png') repeat-y;
    padding-bottom: 60px;
}
.left
{
    width: 100%;
    min-height: 770px;
    background: rgba(255,255,255,0.4);
    border-radius: 10px;
    text-align: center;
    padding: 88px 10px;
    float: left;
}
.logo img
{
    margin-top: 20px;
}
.text-left
{
    margin-top: 80px;
}
.text-left .text-left-line
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    text-align: center;
}
.text-left .text-left-line a
{
    color: blue;
}
.blue-color, .blue-color:hover
{
    color: blue;
}
.with-decoration
{
    text-decoration: underline;
}
.with-decoration:hover
{
    text-decoration: underline;
}
.left-cover, .center-cover, .right-cover
{
    background: #5d860e;
    position: absolute;
    z-index: 10;
    height: 223px;
    margin-top: 529px;
}
.left-cover
{
    width: 103px;
}
.center-cover
{
    width: 57px;
    margin-left: 338px;
}
.right-cover
{
    width: 55px;
    margin-left: 923px;
}
.content-box
{
    width: 100%;
    min-height: 770px;
    border: 1px solid #a5b608;
    border-radius: 10px;
    float: left;
}
.content
{
    width: 100%;
    height: 100%;
    min-height: 770px;
    border: 1px solid #f9ff73;
    border-radius: 10px;

}
.content .title-home
{
    padding: 20px 50px;
    font-weight: 900;
}
.content .title
{
    margin:0px;
    padding: 25px 20px;
    color: #098501;
}
.content-text
{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    padding: 0px 20px 0px 50px;
}
.puce-style, .color-puce
{
    color: #ad3900;
}
.content-list li span
{
    color: #000000;
}
.contact-info
{
    color: #cc0000;
    font-size: 16px;
    font-weight: 900;
}
.mar-25
{
    margin: 25px 0px;
}

.footer
{
    height: 102px;
    background: #5d860e;
}
.text-sitemap
{
    float: right;
    padding: 49px 102px;
}
.text-sitemap a
{
    color: black;
    font-size: 11px;

}